<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fas.toy.dao.auth.AuthDao">
  <select id="searchKakaoAuths" resultType="int">
    SELECT COUNT(uid) AS CNT FROM member
      WHERE userId = #{email}
      AND kakao_id = #{kakaoId}
  </select>

  <insert id="registWithKakao">
    INSERT INTO member (userId, name, nickname, profileImage, kakao_id)
      VALUES (#{email}, #{nickName}, #{nickName}, #{profileImg}, #{kakaoId})
  </insert>

  <select id="searchIdWithKakao" resultType="com.fas.toy.dto.auth.SearchKakaoAuthOut">
    SELECT * FROM member
      WHERE userId = #{email} 
        AND kakao_id = #{kakaoId}
  </select>
</mapper>