<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookGetherMapper">
    <insert id="insertBookGether">
        INSERT INTO book_gether
        VALUES (
                NULL,
                #{uid},
                #{type},
                #{sta_dt},
                #{end_dt},
                #{rate},
                #{rate_ex},
                #{read_page},
                #{bg_color}
                )
    </insert>
</mapper>