<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fas.toy.dao.habit.HabitDao">
    <select id="searchHabits" resultType="com.fas.toy.dto.habit.SearchHabitOut">
        SELECT h.habit_id, h.title, h.description, hr.icon AS icon 
        FROM habit h 
        JOIN habit_records hr 
        ON h.habit_id = hr.habit_id
        WHERE h.date = DATE_FORMAT(NOW(), '%Y%m%d')
        AND h.uid = #{id}
    </select>

    <select id="searchHabitByHabitId" resultType="com.fas.toy.dto.habit.SearchHabitOut">
        SELECT h.habit_id, h.title, h.description, hr.icon AS icon 
        FROM habit h 
        JOIN habit_records hr 
        ON h.habit_id = hr.habit_id
        WHERE h.date = DATE_FORMAT(NOW(), '%Y%m%d')
        AND h.uid = #{uid}
        AND h.habit_id = #{habitId}
    </select>

    <select id="searchHabitRecords" resultType="com.fas.toy.dto.habit.SearchHabitRecordsOut">
        SELECT icon, date
        FROM habit_records
        WHERE habit_id = #{habitId}
        AND date BETWEEN #{startDate} AND #{endDate}
    </select>

    <insert id="insertHabit" parameterType="com.fas.toy.dto.habit.HabitIn">
        INSERT INTO habit (uid, title, description, date)
        VALUES (#{uid}, #{title}, #{description}, DATE_FORMAT(NOW(), '%Y%m%d'));
        <selectKey keyProperty="habitId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS habitId
        </selectKey>
    </insert>

    <update id="updateHabit" parameterType="com.fas.toy.dto.habit.UpdateHabitIn">
        UPDATE habit h
		JOIN habit_records hr
		ON h.habit_id = hr.habit_id
        SET h.title = #{title},
            h.description = #{description},
            hr.icon = #{icon}
        WHERE h.date = DATE_FORMAT(NOW(), '%Y%m%d')
        AND h.habit_id = #{habitId}
    </update>

    <update id="deleteHabit" parameterType="com.fas.toy.dto.habit.HabitIn">
        DELETE FROM habit
        WHERE habit_id = #{habitId};
    </update>
</mapper>