@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

input {
    border: solid 1px #e1e1e1;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #e1e1e1;
    color: darkgray;
}

textarea {
    border: solid 1px #e1e1e1;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #e1e1e1;
    resize: none !important;
    color: darkgray;
}

.habitIcon1::after {
    font-family: bootstrap-icons;
    content: '\F287';
    font-size: 16px;
    color: $blue;
}
.habitIcon2::after {
    font-family: bootstrap-icons;
    content: '\F5E3';
    font-size: 16px;
    color: $green;
}
.habitIcon3::after {
    font-family: bootstrap-icons;
    content: '\F582';
    font-size: 16px;
    color: $yellow;
}
.habitIcon4::after {
    font-family: bootstrap-icons;
    content: '\F659';
    font-size: 16px;
    font-weight: bold;
    color: $red;
}
.habitIcon5::after {
    font-family: bootstrap-icons;
    content: '\F415';
    font-size: 16px;
    color: $pink;
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  .container {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
  
    .disabled > * * {
      background-color: #f3f3f3 !important;;
      color: darkgray !important;
  
      &::after {
        color: darkgray !important;
      }
    }
  
    .left-section {
      position: relative;
      height: 400px;
  
      .habit-list {
        display: inline-block;
        height: 100%;
        min-width: 300px;
        -ms-overflow-style: none;
  
        &:hover>.unclicked {
          background-color: white;
          color: rgb(192, 192, 192);
          box-shadow: 0px 0px 8px -3px #8a8a8a;
        }
      }
  
      .habit-list::-webkit-scrollbar{
        display:none;
      }
  
      .habit-content{
        display: inline-block;
      }
    }
  }